# See https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Put files here that you don't want copied into your bundle's invocation image
.gitignore
.github
*.env
infra/terraform/bootstrap/.terraform
infra/terraform/omop/.terraform
creds.json
creds-from-env-vars.json
Dockerfile.tmpl
parameters.json
apps
docs
node_modules
pipelines
sql