[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"

[dev-packages]
pytest = "*"
pyhamcrest = "*"
pymssql = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
flake8 = "*"
flake8-formatter-junit-xml = "*"
black = "==21.10b0"

[requires]
python_version = "3.8"
